{% extends "admin_panel/base.html" %}

{% block title %}Reservas{% endblock %}

{% block content %}
<div class="flex justify-between items-center mb-6">
    <h1 class="text-2xl font-bold">Gestión de Reservas</h1>
</div>

<div class="bg-mp-card border border-mp-border rounded-xl overflow-hidden">
    <div class="overflow-x-auto">
        <table class="w-full text-left border-collapse">
            <thead>
                <tr class="bg-black/20 text-xs text-mp-muted uppercase border-b border-mp-border">
                    <th class="px-6 py-4 font-medium">ID</th>
                    <th class="px-6 py-4 font-medium">Cliente</th>
                    <th class="px-6 py-4 font-medium">Vehículo</th>
                    <th class="px-6 py-4 font-medium">Espacio</th>
                    <th class="px-6 py-4 font-medium">Fecha</th>
                    <th class="px-6 py-4 font-medium">Horario</th>
                    <th class="px-6 py-4 font-medium">Estado</th>
                </tr>
            </thead>
            <tbody class="text-sm divide-y divide-mp-border/50">
                {% for res in reservas %}
                <tr class="hover:bg-white/5 transition">
                    <td class="px-6 py-4 text-mp-muted">#{{ res.pk }}</td>
                    <td class="px-6 py-4 font-medium text-white">{{ res.fkIdVehiculo.fkIdUsuario.usuNombre }} {{
                        res.fkIdVehiculo.fkIdUsuario.usuApellido }}</td>
                    <td class="px-6 py-4">{{ res.fkIdVehiculo.vehPlaca }}</td>
                    <td class="px-6 py-4">
                        <span class="bg-purple-500/20 text-purple-300 px-2 py-1 rounded text-xs font-bold">
                            {{ res.fkIdEspacio.espNumero }}
                        </span>
                        <span class="text-xs text-mp-muted ml-1">{{ res.fkIdEspacio.fkIdPiso.pisNombre }}</span>
                    </td>
                    <td class="px-6 py-4">{{ res.resFechaReserva }}</td>
                    <td class="px-6 py-4 text-mp-muted">{{ res.resHoraInicio }} - {{ res.resHoraFin }}</td>
                    <td class="px-6 py-4">
                        <span class="px-2 py-1 rounded text-xs font-medium
                            {% if res.resEstado == 'CONFIRMADA' %}bg-green-500/20 text-green-400
                            {% elif res.resEstado == 'PENDIENTE' %}bg-yellow-500/20 text-yellow-400
                            {% elif res.resEstado == 'COMPLETADA' %}bg-blue-500/20 text-blue-400
                            {% else %}bg-gray-500/20 text-gray-400{% endif %}">
                            {{ res.resEstado }}
                        </span>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="7" class="px-6 py-8 text-center text-mp-muted">No hay reservas registradas.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}